<div class="container">

    <div class="jumbotron">
        <h1>Burgers to Eat</h1>
        <p>Make your burger. Eat your burger.</p>
        <h2>Make your Burger Here!</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="newburger">Order a Burger</label>
                <input type="text" id="newburger" name="burger">
                <button type="submit" class="btn btn-success" id="addburger">
                    <span class="fa fa-thumbs-up"></span>
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div>
                
            </div>
        </div>
    </div>

</div>